<div class="weather-container">
    <h2>Weather Information</h2>
   
    <div class="input-container">
        
        <!-- <input type="text" [(ngModel)]="city" placeholder="Enter city" /> -->
    <app-city-search (citySelected)="onCitySelected($event)"></app-city-search>
        <button (click)="getWeatherData()">Get Weather</button>
        <button (click)="getLoc()">Get Current Location</button>
            <!-- <button (click)="clearSearch()">X</button> -->
    </div>

    <!-- Toggle Button for Recent Searches -->
    <div>
        <button (click)="toggleHistory()" class="history-toggle-btn">
            {{ showHistory ? 'Hide Recent Searches' : 'Show Recent Searches' }}
        </button>

        <div *ngIf="showHistory && getCityHistory().length" class="recent-searches">
            <h3>Recent Searches</h3>
            <ul>
                <li *ngFor="let city of getCityHistory()">{{ city }}</li>
            </ul>
        </div>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="spinner"></div>

    <!-- Weather Statistics -->
    <div *ngIf="cityData?.hourly" class="stats-container">
        <!-- <h3>Weather Statistics for {{ name }} , {{country}}</h3> -->
        <!-- <h3 >Weather Statistics for {{ displayName }} ({{ name }}), {{ country }}</h3> -->
        <h3 *ngIf="isLocationBased">Weather Statistics for  ({{ name }}), {{ country }}</h3>
        <h3 *ngIf="!isLocationBased">Weather Statistics for {{ name }}, {{ country }}</h3>

        <!-- <h3 *ngIf="!isLocationBased">Weather Statistics for {{ name }}, {{ country }}</h3> -->

        <!-- <h6>Today's Date: {{ currentDate | date: 'dd/MM/yyyy' }}</h6> -->
        <!-- <h6>{{displayName}}</h6> -->
        <div *ngIf="cityData?.hourly" class="chart-button-container">
            <button (click)="openChartModal()" class="btn btn-info">Show Temperature Chart</button>
            </div>
        <ul>
            <li>Highest Temperature of the Day: {{ highestTemperature }} °C</li>
            <li>Lowest Temperature of the Day: {{ lowestTemperature }} °C</li>
            <li>Average Humidity: {{ averageHumidity | number:'1.1-1' }} %</li>
            <li>Maximum Wind Speed: {{ maxWindSpeed }} m/s</li>
        </ul>
    </div>
        <!-- <div *ngIf="cityData?.hourly" class="map-container">
            <h3>Map of {{ name }}</h3>
            <div id="map" class="map"></div>
        </div> -->
<!-- <div>
    <button (click)="toggleSortOrder()">
        Sort by Temperature: {{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}
    </button>
</div> -->

    <!-- Weather Data Table -->
    <div *ngIf="cityData?.hourly" class="table-container">
        <h3>Weather Data for {{ city }}</h3>
        <table class="weather-table">
            <thead>
                <tr>
                    <th class="time-column">Time</th>
                    <!-- <th>Temperature (°C)</th> -->
                    <th (click)="toggleTemp()" class="clickable-unit">
                        Temperature ({{ isCelcius ? '°C' : '°F' }})
                        <span>{{ sortOrder === 'asc' ? '↑' : '↓' }}</span>
                    </th>
                    <th>Humidity (%)</th>
                    <th>Wind Speed (m/s)</th>
                    <th>Wind Direction (°)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let time of cityData.hourly.time; let i = index">
                    <td>{{ formatDate(time) }}</td>
                    <!-- <td>{{ cityData.hourly.temperature_2m[i] }}</td>
                      -->
                    <td>{{ convertTemp(cityData.hourly.temperature_2m[i]) }}</td>
                    <td>{{ cityData.hourly.relative_humidity_2m[i] }}</td>
                    <td>{{ cityData.hourly.wind_speed_10m[i] }}</td>
                    <td>{{ cityData.hourly.wind_direction_10m[i] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



  
<!-- Temperature Chart Modal -->
<div class="modal" *ngIf="showChartModal">
    <div class="modal-content">
        <div class="range-toggle">
            <label>Show forecast for:</label>
        
            <!-- <button class="btn btn-sm" [class.active]="selectedRange === 24" (click)="setRange(24)">
                Next 24 Hours
            </button>
        
            <button class="btn btn-sm" [class.active]="selectedRange === 72" (click)="setRange(72)">
                Next 72 Hours
            </button> -->
        
            <input type="number" [ngModel]="customRangeInput" (ngModelChange)="onCustomRangeChange($event)"
                placeholder="Enter custom hours" />
            
            <button (click)="applyCustomRange()">Apply</button>
            <button (click)="reset()">Reset</button>
          
              
        </div>
          
          
        <span class="close" (click)="closeChartModal()">&times;</span>
        <h3>Hourly Temperature Trend for {{ city }}</h3>
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [legend]="true" [type]="'line'">
        </canvas>
        </div>
<!-- Error Message -->
<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
</div>